In [23]:
from google.colab import drive
drive.mount('/content/drive')
%cd '/content/drive/MyDrive/Analisis de datos a gran escala/Proyecto'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/Analisis de datos a gran escala/Proyecto

In [24]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [97]:
import pandas as pd
import numpy as np
import pyspark as spark

In [66]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import year, to_date

spark = SparkSession.builder.appName("Accidentes").getOrCreate()

# Leer CSV
df = spark.read.csv("US_Accidents_2016-18.csv", header=True)

#Pasamos las columnas Start_time a sólo la fecha para manejarla mejor. End_Time no nos interesa
df = df.withColumn("Date", to_date("Start_Time"))

df.show(5)

+---+-------+--------+-------------------+-------------------+-----------------+------------------+-------+-------+------------+--------------------+--------------------+------------+----------+-----+----------+-------+----------+------------+-------------------+--------------+-------------+-----------+------------+--------------+--------------+---------------+-----------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+----------+
| ID| Source|Severity|         Start_Time|           End_Time|        Start_Lat|         Start_Lng|End_Lat|End_Lng|Distance(mi)|         Description|              Street|        City|    County|State|   Zipcode|Country|  Timezone|Airport_Code|  Weather_Timestamp|Temperature(F)|Wind_Chill(F)|Humidity(%)|Pressure(in)|Visibility(mi)|Wind_Direction|Wind_Speed(mph)|Precipitation(in)|Weather_Condition|Amenity| Bump|Crossing|Give_Way|Junction|No_Exit|Railway|Roundabout|Station| Stop|Traffic_Calming|Traffic_Signal|Turning_Loop|Sunrise_Sunset|Civil_Twilight|Nautical_Twilight|Astronomical_Twilight|      Date|
+---+-------+--------+-------------------+-------------------+-----------------+------------------+-------+-------+------------+--------------------+--------------------+------------+----------+-----+----------+-------+----------+------------+-------------------+--------------+-------------+-----------+------------+--------------+--------------+---------------+-----------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+----------+
|A-1|Source2|       3|2016-02-08 05:46:00|2016-02-08 11:00:00|        39.865147|        -84.058723|   NULL|   NULL|        0.01|Right lane blocke...|              I-70 E|      Dayton|Montgomery|   OH|     45424|     US|US/Eastern|        KFFO|2016-02-08 05:58:00|          36.9|         NULL|       91.0|       29.68|          10.0|          Calm|           NULL|             0.02|       Light Rain|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|         Night|         Night|            Night|                Night|2016-02-08|
|A-2|Source2|       2|2016-02-08 06:07:59|2016-02-08 06:37:59|39.92805900000001|        -82.831184|   NULL|   NULL|        0.01|Accident on Brice...|            Brice Rd|Reynoldsburg|  Franklin|   OH|43068-3402|     US|US/Eastern|        KCMH|2016-02-08 05:51:00|          37.9|         NULL|      100.0|       29.65|          10.0|          Calm|           NULL|              0.0|       Light Rain|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|         Night|         Night|            Night|                  Day|2016-02-08|
|A-3|Source2|       2|2016-02-08 06:49:27|2016-02-08 07:19:27|        39.063148|        -84.032608|   NULL|   NULL|        0.01|Accident on OH-32...|      State Route 32|Williamsburg|  Clermont|   OH|     45176|     US|US/Eastern|        KI69|2016-02-08 06:56:00|          36.0|         33.3|      100.0|       29.67|          10.0|            SW|            3.5|             NULL|         Overcast|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|          True|       False|         Night|         Night|              Day|                  Day|2016-02-08|
|A-4|Source2|       3|2016-02-08 07:23:34|2016-02-08 07:53:34|        39.747753|-84.20558199999998|   NULL|   NULL|        0.01|Accident on I-75 ...|              I-75 S|      Dayton|Montgomery|   OH|     45417|     US|US/Eastern|        KDAY|2016-02-08 07:38:00|          35.1|         31.0|       96.0|       29.64|           9.0|            SW|            4.6|             NULL|    Mostly Cloudy|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|         Night|           Day|              Day|                  Day|2016-02-08|
|A-5|Source2|       2|2016-02-08 07:39:07|2016-02-08 08:09:07|        39.627781|        -84.188354|   NULL|   NULL|        0.01|Accident on McEwe...|Miamisburg Center...|      Dayton|Montgomery|   OH|     45459|     US|US/Eastern|        KMGY|2016-02-08 07:53:00|          36.0|         33.3|       89.0|       29.65|           6.0|            SW|            3.5|             NULL|    Mostly Cloudy|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|          True|       False|           Day|           Day|              Day|                  Day|2016-02-08|
+---+-------+--------+-------------------+-------------------+-----------------+------------------+-------+-------+------------+--------------------+--------------------+------------+----------+-----+----------+-------+----------+------------+-------------------+--------------+-------------+-----------+------------+--------------+--------------+---------------+-----------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+----------+
only showing top 5 rows

In [67]:
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Severity: string (nullable = true)
 |-- Start_Time: string (nullable = true)
 |-- End_Time: string (nullable = true)
 |-- Start_Lat: string (nullable = true)
 |-- Start_Lng: string (nullable = true)
 |-- End_Lat: string (nullable = true)
 |-- End_Lng: string (nullable = true)
 |-- Distance(mi): string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Street: string (nullable = true)
 |-- City: string (nullable = true)
 |-- County: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Timezone: string (nullable = true)
 |-- Airport_Code: string (nullable = true)
 |-- Weather_Timestamp: string (nullable = true)
 |-- Temperature(F): string (nullable = true)
 |-- Wind_Chill(F): string (nullable = true)
 |-- Humidity(%): string (nullable = true)
 |-- Pressure(in): string (nullable = true)
 |-- Visibility(mi): string (nullable = true)
 |-- Wind_Direction: string (nullable = true)
 |-- Wind_Speed(mph): string (nullable = true)
 |-- Precipitation(in): string (nullable = true)
 |-- Weather_Condition: string (nullable = true)
 |-- Amenity: string (nullable = true)
 |-- Bump: string (nullable = true)
 |-- Crossing: string (nullable = true)
 |-- Give_Way: string (nullable = true)
 |-- Junction: string (nullable = true)
 |-- No_Exit: string (nullable = true)
 |-- Railway: string (nullable = true)
 |-- Roundabout: string (nullable = true)
 |-- Station: string (nullable = true)
 |-- Stop: string (nullable = true)
 |-- Traffic_Calming: string (nullable = true)
 |-- Traffic_Signal: string (nullable = true)
 |-- Turning_Loop: string (nullable = true)
 |-- Sunrise_Sunset: string (nullable = true)
 |-- Civil_Twilight: string (nullable = true)
 |-- Nautical_Twilight: string (nullable = true)
 |-- Astronomical_Twilight: string (nullable = true)
 |-- Date: date (nullable = true)

In [68]:
print("Cantidad de datos: ", df.count())

Cantidad de datos:  2021537

In [69]:
from pyspark.sql.functions import col, sum

df.select([
    sum(col(c).isNull().cast("int")).alias(c)
    for c in df.columns
]).show(truncate=False)

+---+------+--------+----------+--------+---------+---------+-------+-------+------------+-----------+------+----+------+-----+-------+-------+--------+------------+-----------------+--------------+-------------+-----------+------------+--------------+--------------+---------------+-----------------+-----------------+-------+----+--------+--------+--------+-------+-------+----------+-------+----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+----+
|ID |Source|Severity|Start_Time|End_Time|Start_Lat|Start_Lng|End_Lat|End_Lng|Distance(mi)|Description|Street|City|County|State|Zipcode|Country|Timezone|Airport_Code|Weather_Timestamp|Temperature(F)|Wind_Chill(F)|Humidity(%)|Pressure(in)|Visibility(mi)|Wind_Direction|Wind_Speed(mph)|Precipitation(in)|Weather_Condition|Amenity|Bump|Crossing|Give_Way|Junction|No_Exit|Railway|Roundabout|Station|Stop|Traffic_Calming|Traffic_Signal|Turning_Loop|Sunrise_Sunset|Civil_Twilight|Nautical_Twilight|Astronomical_Twilight|Date|
+---+------+--------+----------+--------+---------+---------+-------+-------+------------+-----------+------+----+------+-----+-------+-------+--------+------------+-----------------+--------------+-------------+-----------+------------+--------------+--------------+---------------+-----------------+-----------------+-------+----+--------+--------+--------+-------+-------+----------+-------+----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+----+
|0  |0     |0       |0         |0       |0        |0        |1554317|1554317|0           |0          |6     |64  |0     |0    |501    |0      |1675    |3324        |24957            |38841         |1703841      |40870      |34313       |47179         |25070         |380885         |1779853          |47616            |0      |0   |0       |0       |0       |0      |0      |0         |0      |0   |0              |0             |0           |84            |84            |84               |84                   |0   |
+---+------+--------+----------+--------+---------+---------+-------+-------+------------+-----------+------+----+------+-----+-------+-------+--------+------------+-----------------+--------------+-------------+-----------+------------+--------------+--------------+---------------+-----------------+-----------------+-------+----+--------+--------+--------+-------+-------+----------+-------+----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+----+

In [87]:
df_interest = df.select("Date", "City", "State", "Temperature(F)", "Humidity(%)", "Pressure(in)", "Visibility(mi)", "Wind_Speed(mph)", "Weather_Condition")

In [88]:
df_interest = df_interest.dropna()
print("Cantidad de datos: ", df_interest.count())

Cantidad de datos:  1621127

In [89]:
from pyspark.ml.feature import StringIndexer
from pyspark.ml import Pipeline

categorical_cols = ["City", "State", "Weather_Condition"]

indexers = [
    StringIndexer(inputCol=col, outputCol=col + "_Index", handleInvalid="keep")
    for col in categorical_cols
]

pipeline = Pipeline(stages=indexers)
model = pipeline.fit(df_interest)
df_interest = model.transform(df_interest)

In [90]:
df_interest.show(5)

+----------+------------+-----+--------------+-----------+------------+--------------+---------------+-----------------+----------+-----------+-----------------------+
|      Date|        City|State|Temperature(F)|Humidity(%)|Pressure(in)|Visibility(mi)|Wind_Speed(mph)|Weather_Condition|City_Index|State_Index|Weather_Condition_Index|
+----------+------------+-----+--------------+-----------+------------+--------------+---------------+-----------------+----------+-----------+-----------------------+
|2016-02-08|Williamsburg|   OH|          36.0|      100.0|       29.67|          10.0|            3.5|         Overcast|     885.0|       12.0|                    1.0|
|2016-02-08|      Dayton|   OH|          35.1|       96.0|       29.64|           9.0|            4.6|    Mostly Cloudy|      26.0|       12.0|                    2.0|
|2016-02-08|      Dayton|   OH|          36.0|       89.0|       29.65|           6.0|            3.5|    Mostly Cloudy|      26.0|       12.0|                    2.0|
|2016-02-08| Westerville|   OH|          37.9|       97.0|       29.63|           7.0|            3.5|       Light Rain|     556.0|       12.0|                    5.0|
|2016-02-08|      Dayton|   OH|          34.0|      100.0|       29.66|           7.0|            3.5|         Overcast|      26.0|       12.0|                    1.0|
+----------+------------+-----+--------------+-----------+------------+--------------+---------------+-----------------+----------+-----------+-----------------------+
only showing top 5 rows

In [91]:
accidents_per_day = df_interest.groupBy("Date").count().withColumnRenamed("count", "Accidents")

df_interest = df_interest.join(accidents_per_day, on="Date", how="left")
df_interest = df_interest.drop("Start_Time")

df_interest.show(5)

+----------+------------+-----+--------------+-----------+------------+--------------+---------------+-----------------+----------+-----------+-----------------------+---------+
|      Date|        City|State|Temperature(F)|Humidity(%)|Pressure(in)|Visibility(mi)|Wind_Speed(mph)|Weather_Condition|City_Index|State_Index|Weather_Condition_Index|Accidents|
+----------+------------+-----+--------------+-----------+------------+--------------+---------------+-----------------+----------+-----------+-----------------------+---------+
|2016-02-08|Williamsburg|   OH|          36.0|      100.0|       29.67|          10.0|            3.5|         Overcast|     885.0|       12.0|                    1.0|       49|
|2016-02-08|      Dayton|   OH|          35.1|       96.0|       29.64|           9.0|            4.6|    Mostly Cloudy|      26.0|       12.0|                    2.0|       49|
|2016-02-08|      Dayton|   OH|          36.0|       89.0|       29.65|           6.0|            3.5|    Mostly Cloudy|      26.0|       12.0|                    2.0|       49|
|2016-02-08| Westerville|   OH|          37.9|       97.0|       29.63|           7.0|            3.5|       Light Rain|     556.0|       12.0|                    5.0|       49|
|2016-02-08|      Dayton|   OH|          34.0|      100.0|       29.66|           7.0|            3.5|         Overcast|      26.0|       12.0|                    1.0|       49|
+----------+------------+-----+--------------+-----------+------------+--------------+---------------+-----------------+----------+-----------+-----------------------+---------+
only showing top 5 rows

In [93]:
from pyspark.sql.functions import avg

df_interest_countrywise = df_interest.groupBy("Date").agg(
    avg("Temperature(F)").alias("Temperature(F)"),
    avg("Humidity(%)").alias("Humidity(%)"),
    avg("Pressure(in)").alias("Pressure(in)"),
    avg("Visibility(mi)").alias("Visibility(mi)"),
    avg("Wind_Speed(mph)").alias("Wind_Speed(mph)"),
    avg("Weather_Condition_Index").alias("Weather_Condition_Index"),
    avg("Accidents").alias("Accidents")
)

df_interest_countrywise = df_interest_countrywise.orderBy("Date")
df_interest_countrywise.show(5)

+----------+------------------+-----------------+------------------+------------------+------------------+-----------------------+---------+
|      Date|    Temperature(F)|      Humidity(%)|      Pressure(in)|    Visibility(mi)|   Wind_Speed(mph)|Weather_Condition_Index|Accidents|
+----------+------------------+-----------------+------------------+------------------+------------------+-----------------------+---------+
|2016-01-14|              31.0|             69.0|             29.53|              10.0|               3.0|                    9.0|      7.0|
|2016-02-08|35.355102040816305|91.71428571428571| 29.64163265306123|6.7306122448979595|  6.36326530612245|     3.5714285714285716|     49.0|
|2016-02-09|23.532203389830517|87.11864406779661|29.679830508474573| 2.410169491525424|11.461016949152546|      5.728813559322034|     59.0|
|2016-02-10|17.854347826086954|77.17391304347827|  29.9086956521739| 3.823913043478261|13.147826086956524|      5.239130434782608|     46.0|
|2016-02-11|15.974390243902443|65.03658536585365|30.238414634146334| 9.213414634146341| 8.924390243902442|     2.5121951219512195|     82.0|
+----------+------------------+-----------------+------------------+------------------+------------------+-----------------------+---------+
only showing top 5 rows

In [110]:
df_interest_countrywise.show(20)

+----------+------------------+------------------+------------------+------------------+------------------+-----------------------+---------+
|      Date|    Temperature(F)|       Humidity(%)|      Pressure(in)|    Visibility(mi)|   Wind_Speed(mph)|Weather_Condition_Index|Accidents|
+----------+------------------+------------------+------------------+------------------+------------------+-----------------------+---------+
|2016-01-14|              31.0|              69.0|             29.53|              10.0|               3.0|                    9.0|      7.0|
|2016-02-08|35.355102040816305| 91.71428571428571| 29.64163265306123|6.7306122448979595|  6.36326530612245|     3.5714285714285716|     49.0|
|2016-02-09|23.532203389830517| 87.11864406779661|29.679830508474573| 2.410169491525424|11.461016949152546|      5.728813559322034|     59.0|
|2016-02-10|17.854347826086954| 77.17391304347827|  29.9086956521739| 3.823913043478261|13.147826086956524|      5.239130434782608|     46.0|
|2016-02-11|15.974390243902443| 65.03658536585365|30.238414634146334| 9.213414634146341| 8.924390243902442|     2.5121951219512195|     82.0|
|2016-02-12|19.205555555555552| 66.33333333333333|30.183888888888887| 8.416666666666666|15.927777777777784|      3.888888888888889|     18.0|
|2016-02-13| 10.14285714285714|58.357142857142854|30.493571428571425|              10.0|11.935714285714287|     2.2857142857142856|     14.0|
|2016-02-14|12.749999999999996|              79.6|            30.349|              6.31|              9.71|                    5.6|     10.0|
|2016-02-15|  26.2764705882353| 91.05882352941177|30.002941176470586| 4.070588235294117| 6.529411764705882|      7.392156862745098|     51.0|
|2016-02-16|  32.0367088607595| 90.69620253164557|29.745189873417715| 4.101898734177216|7.6113924050632935|     3.4430379746835444|     79.0|
|2016-02-17| 30.89400000000001|             80.94|30.125999999999994|              6.05| 6.606000000000002|                   2.88|     50.0|
|2016-02-18| 27.59019607843138| 68.56862745098039| 30.51725490196077| 9.117647058823529| 6.972549019607845|     1.0588235294117647|     51.0|
|2016-02-19|51.168055555555554| 48.69444444444444|29.953333333333326|              10.0|           18.8375|     1.0833333333333333|     72.0|
|2016-02-20|            61.275|              47.0|           30.0175|              10.0|              11.5|                    0.0|      4.0|
|2016-02-21|48.166666666666664| 82.33333333333333|29.963333333333335| 6.833333333333333| 5.199999999999999|     3.3333333333333335|      6.0|
|2016-02-22|36.507547169811325| 74.37735849056604|30.150377358490577|  9.88679245283019| 6.709433962264152|     1.5471698113207548|     53.0|
|2016-02-23| 42.40526315789474|62.666666666666664|30.011403508771934|10.175438596491228| 9.024561403508768|     1.0350877192982457|     57.0|
|2016-02-24| 42.52051282051282| 91.91025641025641| 29.36076923076923|5.4743589743589745|13.876923076923076|      5.576923076923077|     78.0|
|2016-02-25| 32.39000000000001|              83.5|29.679600000000004| 5.571000000000001|            16.702|                    4.6|     50.0|
|2016-02-26|            32.724|             55.32|30.237600000000008|               9.8| 9.648000000000001|                   1.48|     25.0|
+----------+------------------+------------------+------------------+------------------+------------------+-----------------------+---------+
only showing top 20 rows

In [95]:
from pyspark.sql.functions import year

# DataFrame para 2016 y 2017
df_countrywise_16_17 = df_interest_countrywise.filter(year("Date").isin([2016, 2017]))

# DataFrame para 2018
df_countrywise_18 = df_interest_countrywise.filter(year("Date") == 2018)

In [98]:
# Creando X_train y Y_train Usando Pandas
df_ordered = df_countrywise_16_17.orderBy("Date")

pdf = df_ordered.toPandas()

# Extraemos las columnas numéricas y el numero de accidentes
cols = ["Temperature(F)", "Humidity(%)", "Pressure(in)", "Visibility(mi)", "Wind_Speed(mph)", "Weather_Condition_Index", "Accidents"]

dias = 7
X, y = [], []
for i in range(len(pdf) - dias):
    X.append(pdf.loc[i:i+dias-1, cols].values)  # ventana 7 días
    y.append(pdf.loc[i+dias, "Accidents"])      # día 8

X_train, Y_train = np.array(X), np.array(y)

In [117]:
# Creando X_train y Y_train sin Pandas

# Seleccionamos solo las columnas necesarias y las pasamos a numpy
selected_cols = ["Temperature(F)", "Humidity(%)", "Pressure(in)",
                 "Visibility(mi)", "Wind_Speed(mph)", "Weather_Condition_Index", "Accidents"]

df_ordered = df_countrywise_16_17.orderBy("Date")

# Convertimos a un NumPy array (ordenado previamente)
data_np = np.array(df_ordered.select(selected_cols).collect())

# Ventana deslizante
X_train = []
Y_train = []
dias = 7

for i in range(len(data_np) - dias):
    X_train.append(data_np[i:i+dias])       # 7 días de features
    Y_train.append(data_np[i+dias, -1])     # accidentes del día siguiente

X_train = np.array(X_train)  # shape: (num_samples, 7, 7)
Y_train = np.array(Y_train)  # shape: (num_samples,)

print("X_train shape:", X_train.shape)
print("Y_train shape:", Y_train.shape)

X_train shape: (683, 7, 7)
Y_train shape: (683,)

In [118]:
print(X_train[0])
print(Y_train[0])

[[31.         69.         29.53       10.          3.          9.
   7.        ]
 [35.35510204 91.71428571 29.64163265  6.73061224  6.36326531  3.57142857
  49.        ]
 [23.53220339 87.11864407 29.67983051  2.41016949 11.46101695  5.72881356
  59.        ]
 [17.85434783 77.17391304 29.90869565  3.82391304 13.14782609  5.23913043
  46.        ]
 [15.97439024 65.03658537 30.23841463  9.21341463  8.92439024  2.51219512
  82.        ]
 [19.20555556 66.33333333 30.18388889  8.41666667 15.92777778  3.88888889
  18.        ]
 [10.14285714 58.35714286 30.49357143 10.         11.93571429  2.28571429
  14.        ]]
10.0